{{> header}}
    <h2>Help page</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia nihil, suscipit voluptas perspiciatis reiciendis ea sapiente a et saepe soluta officia porro incidunt obcaecati repudiandae quos, odit corporis totam velit.</p>
{{> footer}}